/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /Reset */

/* #region Debug */

.debug #app-header {
    height: 3rem;
    background-color: cyan;
}

.debug .container {
    border: 2px dashed black;
}

.debug #nav>.container {
    height: 2rem;
    background-color: orange;
}

.debug #sec-intro {
    height: 400px;
    background-color: blue;
}

.debug #sec-intro>.container {
    height: 100%;
    background-color: violet;
}

.debug #sec-1,
#sec-3 {
    height: 500px;
    background-color: white;
}

.debug #sec-2 {
    height: 500px;
    background-color: lightgray;
}

.debug #sec-4 {
    height: 800px;
    background-color: lightgray;
}

.debug #foot-top {
    height: 100%;
}

.debug .img {
    background-color: cornflowerblue;
    border: 2px dashed black;
}

.debug .desc {
    background-color: pink;
}

.debug #sec-4>.container {
    background-color: green;
}

.debug #app-footer>#foot-top {
    height: 550px;
    background-color: black;
}

.debug #foot-top>.container {
    height: 100%;
    border: 2px dashed white;
    background-color: salmon;
}

.debug section[id^="sec"]>.container {
    height: 100%;
}

.debug div[class^="col"] {
    border: 1px dashed white;
    height: 100%;
    background-color: lightseagreen;
}

.debug #app-footer>#foot-bottom {
    height: 70px;
    background-color: black;
}

.debug #foot-bottom>.container {
    height: 80%;
    border: 2px dashed white;
    background-color: aquamarine;
}

/* #endregion /Debug */

/* #region Utilities */
.container {

    width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

#nav {
    padding: 0.5rem;
}

#nav>.container {
    padding: 0.25rem;
    align-items: center;
}

nav {
    justify-content: center;
}

.links li {
    list-style: none;
    display: inline-block;
    padding: 0 0.5rem;
}

.logo {
    width: 25%;
}

.navbar {
    width: 50%;

}

.login {
    width: 25%;
    justify-content: flex-end;
}

#sec-intro {
    padding: 2rem;
}

#sec-intro>.container {
    width: 50%;
}

#sec-1,
#sec-2,
#sec-3,
#sec-4 {
    padding: 2.5rem;
}

.container .img {
    width: 60%;
}

.container .desc {
    width: 40%;
}

#foot-top {
    padding: 0.5rem 0 2rem 0;
}

div[class^="col"] {
    width: calc(100% / 4);

}

.social {
    width: 40%;
}

#foot-bottom>.container {
    padding: 0.5rem;
    align-items: center;
}

.foot-logo {
    width: 50%;
}

.foot-button {
    width: 50%;
    justify-content: flex-end;
}

#foot-bottom {
    align-items: flex-end;
}

/* #endregion /Utilities */